*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    position: sticky;
    top: 0;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
.main h1{
    font-size: 30px;
}
.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-weight: bolder;
}
.cont1 a{
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.cont1 a:hover{
    background-color: cadetblue;
    width: 100%;
}
.main input{
    display: none;
}
.icon{
    display: none;
}
.one{
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}
.two{
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}
.three{
    height: 100vh;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}
.four{
    height: 100vh;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}
.serv{
    position: fixed;
    right: 135px;
    font-size: large;
    font-weight: bolder;
    background-color: aliceblue;
    width: 100px;
    text-align: center;
}
@media screen and (min-width:300px) and (max-width:800px) {
    .cont1 {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        padding: 25px;
        top: 50px;
        top: -1000px;
        right: 0px;
        /* left: -800px; */
        width: 100%;
        height: 100vh;
        background-color: rgb(36, 40, 30);
        transition: 3s;
    }
    .main input{
        display: unset;
    }
    .icon {
        display: unset;
        font-size: 25px;
    }
    input:checked~.cont1 {
        /* left: 0; */
        top: 50px;
    }
    .serv p{
        position: absolute;
        left: 50px;
    }
    
}

